@charset "UTF-8";
.articleBox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 70px;
}

.card.container {
  display: flex;
  align-items: flex-start;
  margin: 5px;
  padding: 10px;
  height: auto;
  width: 390px;
  border: none;
  text-decoration: none;
}

.image-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image-box img {
  width: 100%; /* Resmi kartın genişliğiyle aynı yapar */
  height: 250px; /* veya istediğiniz bir yükseklik */
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 5px;
}

.blog-item {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f9d783;
  color: #161414;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  height: 4rem;
  width: 4rem;
  align-items: center;
  text-align: center;
}

.blog-item h4 {
  margin: 0;
  font-size: 18px;
}

.news-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.news-title {
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  margin-bottom: 15px;
}

.news-text {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}