.ourTeam{

    background-color: #F0D082;

    .container{
        display:flex;
        justify-content: space-between;
        align-items: center;

       
        
        .header{



       
          
           
       
            
        }
        .custom-button{
            bottom: 0;
            right: 0;
            margin: 20px;
           
        }

        .App{
            
        }

    }
}